body {
	background: #faa307;
	font-family: "Nunito", sans-serif;
}

#main {
	font-size: 1.5rem;
	font-weight: 100;
}
#main .navbar-brand {
	color: #d00000;
	font-size: 1.5rem;
	font-weight: 100;
}

#main .nav-links {
	color: wheat;
}

#main .nav-links:hover {
	color: #d00000;
}

.slash {
	color: rgb(216, 74, 97);
}

.text-white h1 {
	font-weight: 100;
	font-size: 4rem;
}

@media (max-width: 1200px) {
	.text-white h1 {
		font-size: 3rem;
	}
}

.chick {
	max-width: 30px;
}

.blurb h2 {
	color: #d00000;
	font-weight: 100;
	font-size: 2.5rem;
}

.blurb p {
	color: #aa3030;
	font-weight: 100;
	font-size: 1.5rem;
	line-height: 2.0;
}

.scrolled {
	background: #ce8a0d75;
	transition: background 500ms;
}

nav,
h1 {
	text-transform: uppercase;
}
